<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discharge Sheet</title>
    <link rel="stylesheet" href="/css/dischargeSheet.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<body>
    <div class="main-body">
        <div class="header">
            <div class="logo" style="padding: 1%;">
                <img src="/images/logo-og-wbg.png" alt="" srcset="" height="130%" width="130%">
            </div>
            <div class="name">
                <label style="font-size: 35px;font-weight: bolder; color: rgb(201, 8, 8);">ओम &nbsp;&nbsp;फ्रैक्चर  &nbsp;&nbsp;एवं  &nbsp; ट्रामा   &nbsp;&nbsp;हॉस्पिटल</label>
                <label  style="font-size: 20px; font-weight: 500;margin-top: 0.3%;">तीन गुल्ली स्टेशन रोड, दमोह</label>
                <label style="font-size: 17px;">Mob: 8103242475</label>
            </div>
            <div class="logo" style="padding: 1%;">
                <img src="/images/logo.jpg" alt="" srcset="" height="100%" width="100%">
            </div>
        </div>
        <div class="doctors-info">
            <div class="doc-info-left">
                <label class="doc-name">Dr. Navin Soni</label>
                <label style="font-weight: bold;margin-bottom: 2%;">हड्डी एवं जोड़ रोग विशेषज्ञ</label>
                <label class="old-info">भूतपूर्व रजिस्ट्रार हिंदुजा हॉस्पिटल, मुंबई</label>
                <label class="old-info">भूतपूर्व होलिस्प्रिट हॉस्पिटल मुंबई</label>
                <label class="old-info">भूतपूर्व रजिस्ट्रार सिदार्थ म्युनिसिपल हॉस्पिटल मुंबई</label>
                <label class="old-info">मेंबर ऑफ इंडियन आर्थोस्कोपी</label>
                <label class="old-info">बॉम्बे ऑर्थोपेडिक सोसाइटी एवं ट्रामा सोसाइटी ऑफ इंडिया</label>
            </div>
            <div class="hospital-photo"></div>
            <div class="doc-info-right">
                <label class="doc-name">Dr. Alka Soni</label>
                <label style="font-weight: bold;margin-bottom: 2%;">निश्चेतना विशेषज्ञ</label>

                <label class="old-info">पेन क्लिनिक एवं जनरल फिजिशियन</label>
                <label class="old-info">भूतपूर्व रजिस्ट्रार के. ई. एम. मेडीकल कॉलेज मुंबई</label>
                <label class="old-info">भूतपूर्व रजिस्ट्रार मिशन मेडिकल कॉलेज, मिरज</label>
                <label class="old-info">हॉस्पिटल : दमोह हॉस्पिटल के बाजू में</label>
                
            </div>
        </div>
        <div class="patient-info">
            <label hidden for="" id="patientId"><%=patient._id%></label>
            <div class="patient-data" style="width: 8%;">
                <small for=""><b>IPD No</b></small>
                <label for="" id=""><%=patient.PatientId%></label>
            </div>
            <div class="patient-data" style="width: 25%;">
                <small for=""><b>Name</b></small>
                <label for=""><%=patient.Name%></label>
            </div>
            <div class="patient-data" style="width: 13%;">
                <small for=""><b>Gender</b></small>
                <label for=""><%=patient.Gender%></label>
            </div>
            <div class="patient-data" style="width: 8%;">
                <small for=""><b>Age</b></small>
                <label for=""><%=patient.Age%></label>
            </div>
            <div class="patient-data" style="width: 8%;">
                <small for=""><b>Mobile</b></small>
                <label for=""><%=patient.Mobile%></label>
            </div>
            <div class="patient-address" style="width: 28%;">
                <small for=""><b>Address</b></small>
                <label for=""><%=patient.Address%></label>
            </div>
            
        </div>
        <div class="data-body" style="border-bottom: 1px solid black;">
            <div class="special-services">
                <h6 style="text-align: center; border-bottom: 2px dotted black; font-weight: bold; padding-bottom: 2%; padding-top: 2%;">विशेष सुविधाएं</h6>
                <ul class="special-services-list">
                    <li>कमर एवं घुटने के दर्द का इलाज</li>
                    <li>हैंड इंज्यूरी</li>
                    <li>बच्चों की सभी प्रकार की टूटी हड्डियों का इलाज</li>
                    <li>प्लास्टर सुविधा</li>
                    <li>विकृत हड्डियों को सीधा करना</li>
                    <li>स्पोर्ट्स इंज्यूरी</li>
                    <li>कूल्हे के जोड़ बदलना</li>
                    <li>पैरो में रॉड डालना</li>
                    <li>पेन क्लिनिक</li>
                    <li>डिजिटल एक्स रे</li>
                    <li>ECG सुविधा</li>
                    <li>फिजियोथेरेपी सुविधा</li>
                    <li>हड्डियों के ऑपरेशन और भर्ती सुविधा</li>
                    <li>टीवी स्क्रीन में देखकर हड्डियां बिठाने की सुविधा</li>
                </ul>
                <p>
                    प्लास्टर के बाद यदि सूजन, शून्यपन, गीलापन अथवा टूटता है तो तुरंत डॉक्टर से संपर्क करें
                </p>
                <p>
                    नोट: कृपया पुरानी पर्ची, जांच, एक्स रे साथ लाए
                </p>
                <p>
                    समय : प्रतिदिन सुबह 11 से 7:30 बजे तक (रविवार अवकाश)
                </p>
            </div>
            <div class="info-right">
                <div class="op-info" style="height: 5%; display: flex;">
                    <section class="op-info" style="width: 20%;text-align: left;">
                        
                    </section>
                    <section class="op-info" style="width: 60%; text-align: center;padding-top: 0%;margin-top: 0%;">
                        <label style="font-size: 20px;font-weight: bold;">Patient Discharge Sheet</label>
                    </section>
                    <section class="op-info" style="width: 20%;">
                        
                    </section>
                </div>
                <div class="datesSection" style="height: 4%;font-size: small;margin-left: 0.5%;">
                    <div style="width: 32%;text-align: left;">
                        <label style="margin-right: 1%;" for="">Admission Date :</label>
                        <input style="display: none;" type="date" value="<%=patient.AdmissionDate%>" name="" id="AdmissionDate" onchange="saveAdmissionDate()">
                        <label for="" id="AdmissionDateLabel"><%=String(patient.AdmissionDate).substr(4,11)%></label>
                    </div>
                    <div style="width: 32%;text-align: left;">
                        <label style="margin-right: 1%;" for="">Operation Date :</label>
                        <input style="display: none;" type="date" name="" id="OperationDate" onchange="saveOperationDate()">
                        <label for="" id="OperationDateLabel"><%=String(patient.OperationDate).substr(4,11)%></label>
                    </div>
                    <div style="width: 32%;text-align: left;">
                        <label style="margin-right: 1%;" for="">Discharge Date :</label>
                        <input style="display: none;" type="date" name="" id="DischargeDate" onchange="saveDischargeDate()">
                        <label for="" id="DischargeDateLabel"><%=String(patient.DischargeDate).substr(4,11)%></label>
                    </div>
                </div>
                <div style="height: 50%; width: 100%;display: flex;">
                    <div style="width: 50%;border-right: 1px solid black;font-size: small !important;">
                        <div class="input-group  ">
                            <span class="input-group-text" id="basic-addon1" style="font-size: small !important;">Swelling</span>
                            <%if(patient.OEs){%>
                                <input type="text" id="Swelling" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" value="<%=patient.OEs.Swelling%>">
                            <%}else{%>
                                <input type="text" id="Swelling" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" value="">
                            <%}%>
                        </div>
                        <div class="input-group  ">
                            <span class="input-group-text" id="basic-addon1">Tenderness</span>
                            <%if(patient.OEs){%>
                                <input type="text" id="Tenderness" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" value="<%=patient.OEs.Tenderness%>">
                            <%}else{%>
                                <input type="text" id="Tenderness" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" value="">
                            <%}%>
                        </div>
                        <div class="input-group  ">
                            <span class="input-group-text" id="basic-addon1">Body-Crepts</span>
                            <%if(patient.OEs){%>
                                <input type="text" id="BodyCrepts" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" value="<%=patient.OEs.BodyCrepts%>">
                            <%}else{%>
                                <input type="text" id="BodyCrepts" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" value="">
                            <%}%>
                        </div>
                        <div class="input-group  ">
                            <span class="input-group-text" id="basic-addon1">DNV</span>
                            <%if(patient.OEs){%>
                                <input type="text" id="DNV" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" value="<%=patient.OEs.DNV%>">
                            <%}else{%>
                                <input type="text" id="DNV" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" value="">
                            <%}%>
                        </div>
                        <div class="input-group  ">
                            <span class="input-group-text" id="basic-addon1">ROM</span>
                            <%if(patient.OEs){%>
                                <input type="text" id="ROM" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" value="<%=patient.OEs.ROM%>">
                            <%}else{%>
                                <input type="text" id="ROM" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" value="">
                            <%}%>
                        </div>
                        <div class="input-group  ">
                            <span class="input-group-text" id="basic-addon1">PO2%</span>
                            <%if(patient.OEs){%>
                                <input type="text" id="PO2" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" value="<%=patient.OEs.PO2%>">
                            <%}else{%>
                                <input type="text" id="PO2" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" value="">
                            <%}%>
                        </div>
                        <div class="input-group  ">
                            <span class="input-group-text" id="basic-addon1">BP</span>
                            <%if(patient.OEs){%>
                                <input type="text" id="BP" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" value="<%=patient.OEs.BP%>">
                            <%}else{%>
                                <input type="text" id="BP" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" value="">
                            <%}%>
                        </div>
                        <div class="input-group  ">
                            <span class="input-group-text" id="basic-addon1">Others</span>
                            <%if(patient.OEs){%>
                                <input type="text" id="Others" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" value="<%=patient.OEs.Others%>">
                            <%}else{%>
                                <input type="text" id="Others" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" value="">
                            <%}%>
                        </div>
                        
                    </div>
                    <div style="width: 50%;text-align: left;">
                        <ul>
                            <li style="border-bottom: none;">CBC
                                <ul>
                                    <li>WBC</li>
                                    <li>RBC</li>
                                    <li>E</li>
                                    <li>N</li>
                                </ul>
                            </li>
                            <li>ESR</li>
                            <li>Blood Group</li>
                            <li>Blood Sugar</li>
                            <li>HIV</li>
                            <li>Serum Creatinine</li>
                            <li>HBS Ag</li>

                        </ul>
                    </div>
                </div>
                <div class="form-floating">
                    <textarea readonly class="form-control" placeholder="Leave a comment here" onchange="saveAllegedHistory()" id="AllegedHistory" style="height: 170px"><%=patient.AllegedHistory%></textarea>
                    <label for="floatingTextarea2">Alleged History</label>
                </div>
                <div class="form-floating">
                    <textarea readonly class="form-control" placeholder="Leave a comment here" onchange="saveXrayFindings()" id="XrayFindings" style="height: 115px"><%=patient.XrayFindings%></textarea>
                    <label for="floatingTextarea2">Xray Findings</label>
                </div>
            </div>

        </div>
        <div class="data-body-2">
            <div class="form-floating" style="border-top: 1px solid black;">
                <textarea readonly class="form-control" placeholder="Leave a comment here" onchange="savePrimaryTreatment()" id="PrimaryTreatment" style="height: 160px;"><%=patient.PrimaryTreatment%></textarea>
                <label for="floatingTextarea2">Primary Treatment</label>
            </div>
            
            <div class="form-floating">
                <textarea readonly class="form-control" placeholder="Leave a comment here" onchange="saveAdmissionNotes()" id="AdmissionNotes" style="height: 160px"><%=patient.AdmissionNotes%></textarea>
                <label for="floatingTextarea2">Admission/Operation notes</label>
            </div>
            <div class="form-floating">
                <textarea readonly class="form-control" placeholder="Leave a comment here" onchange="saveComplications()" id="Complications" style="height: 160px"><%=patient.Complications%></textarea>
                <label for="floatingTextarea2">Complications explained on/before Surgery</label>
            </div>
            <div style="height: 40%;width: 100%;display: flex">
                <div style="width: 50%;border: 1px dotted black;border-left: none;">
                    <h5 style="margin-bottom: 4%;margin-left: 2%;">Treatment given on admission</h5>
                    <ul>
                        <li>Antibiotic</li>
                        <li>Fluids</li>
                        <li>MV   /   BC  / Ca / Fe</li>
                        <li>Pain Killer</li>
                        <li style="border-bottom: none;">Others</li>
                    </ul>
                </div>
                <div style="width: 50%;border: 1px dotted black;border-right: none;">
                    <h5 style="margin-bottom: 2%;margin-left: 2%;">Treatment given on discharge</h5>
                    <div id="medInputs" class="input-group mb-3" style="height: 7%;display: none;">
                        <input style="margin-left: 2%;" type="text" class="form-control" placeholder="Search Medicine" aria-label="Recipient's " aria-describedby="basic-addon2" list="meds" id="medname">
                        <div class="input-group-append">
                            <button id="addMedButton" class="btn btn-outline-secondary" type="button" onclick="addPrescriptions()">Add</button>
                        </div>
                        <datalist id="meds">
                            <%for(let i=0;i<inventory.length;i++){%>
                                <option value="<%=inventory[i]%>"></option>
                            <%}%>
                        </datalist>
                    </div>
                    
                    <div style="height: 90% !important;overflow: auto;padding-left: .6%;padding-right: .6%;">
                        <table style="width: 97%;margin-left: 2%;">
                            <tbody id="medsList" style="font-size: small;">
                                <%for(let i=0;i<patient.TreatmentOnDischarge.length;i++){%>
                                    <tr>
                                        <td><%=patient.TreatmentOnDischarge[i]%></td>
                                    </tr>
                                <%}%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div style="margin-left: 2%;margin-top: 1%;">
                <h6 style="font-size: 14px !important;">1. किसी भी दवाई से Reaction हो सकता है, ऐसी स्थिति में दवाई का प्रयोग बंद करके डॉक्टर को दिखाएं</h6>
                <h6 style="font-size: 14px !important;">2. प्लास्टर कराने के बाद समय समय पर निर्देशानुसार दिखाएं</h6>
                <h6 style="font-size: 14px !important;">3. प्लास्टर या ऑपरेशन के बाद भी हड्डी जुड़ने में समस्या हो सकती है या Non Union अथवा इंफेक्शन हो सकता है, क्योंकि हड्डी का जुड़ना natural process है,  डॉक्टर के वश में नहीं है</h6>
                
            </div>
        </div>
        <div class="footer" style="padding-left: 1%;">
            <label>
                <p style="font-size: 12px;padding:0;margin: 0;">यह पर्चा वैधानिक कार्यवाही हेतु मान्य नहीं है</p>
                <p style="font-size: 12px;padding:0;margin: 0;">Prognosis & Complications Explained</p>
            </label>
        </div>
    </div>
    <div style="display: flex;justify-content: center;margin-bottom: 1% !important;margin-top: 1%;">
        <button id="CancelButton" style="margin-right: 1%; width: 10%;display: none;" class="btn btn-danger" onclick="disableEditing()">Cancel</button>
        <button id="SaveButton" style="margin-left: 1%; width: 10%;display: none;" class="btn btn-success" onclick="saveOtherData()">Save</button>
    </div>
    <script src="/js/dischargeSheet.js"></script>
</body>
</html>