<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient History</title>
    <link rel="stylesheet" href="/css/patientHistory.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
<body>
    <div class="main-container">
        <header>
            <%-include('_header')%>
        </header>
        
        <div class="patient-info">
            <label hidden for="" id="patientId"><%=patient._id%></label>
            <div class="patient-data">
                <small for=""><b>ID</b></small>
                <label for="" id=""><%=patient.PatientId%></label>
            </div>
            <div class="patient-data">
                <small for=""><b>Name</b></small>
                <label for=""><%=patient.Name%></label>
            </div>
            <div class="patient-data">
                <small for=""><b>Gender</b></small>
                <label for=""><%=patient.Gender%></label>
            </div>
            <div class="patient-data">
                <small for=""><b>Age</b></small>
                <label for=""><%=patient.Age%></label>
            </div>
            <div class="patient-address">
                <small for=""><b>Address</b></small>
                <label for=""><%=patient.Address%></label>
            </div>
        </div>
        <div class="history-data" id="patient-history">

        </div>          
    </div>
    <script src="/js/patientHistory.js"></script>
    </body>
</html>