<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Receipt</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/receiptPDF.css">
</head>
<body>
    <div class="main-body">
        <div class="pdf1">
            <div class="header">
                <label style="font-size: 26px; font-weight: bold; text-align: center !important">Om Fracture and Trauma Hospital</label>
                <label>Teen Gulli, Station Road Damoh, Mob : 8103242475</label>
            </div>
            <div class="patient-info">
                <div style="width: 7%;" class="patient-data">
                    <label class="p-head">Id</label>
                    <label class="p-value"><%=appointment.PatientId.PatientId%></label>
                </div>
                <div style="width: 30%;" class="patient-data">
                    <label class="p-head">Name</label>
                    <label class="p-value"><%=appointment.PatientId.Name%></label>
                </div>
                <div style="width: 7%;" class="patient-data">
                    <label class="p-head">Age</label>
                    <label class="p-value"><%=appointment.PatientId.Age%></label>
                </div>
                <div style="width: 7%;" class="patient-data">
                    <label class="p-head">Gender</label>
                    <label class="p-value"><%=appointment.PatientId.Gender%></label>
                </div>
                <div style="width: 13%;" class="patient-data">
                    <label class="p-head">Mobile</label>
                    <label class="p-value"><%=appointment.PatientId.Mobile%></label>
                </div>
                <div style="width: 30%;" class="patient-data">
                    <label class="p-head">Address</label>
                    <label class="p-value"><%=appointment.PatientId.Address%></label>
                </div>
                <div style="width: 20%;" class="patient-data">
                    <label class="p-head">Doctor</label>
                    <label class="p-value">Dr. Navin Soni</label>
                </div>
            </div>
            <div class="itemsList">
                <table>
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Consultation Date</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Appointment</td>
                            <td>₹ <%=appointment.Fees%></td>
                            <td>1</td>
                            <%let d =appointment.Date.split('-') %>
                            <td><%=String(d[2]).padStart(2,'0')+'-'+String(d[1]).padStart(2,'0')+'-'+String(d[0])%></td>
                            <td>₹ <%=appointment.Fees%></td>
                        </tr>                       
                    <!-- Add more rows for additional items if needed -->
                    </tbody>
                    <tfoot>
                        <tr class="subtotal">
                            <td colspan="4">Subtotal</td>
                            <td>₹ <%=appointment.Fees%></td>
                        </tr>
                    </tfoot>
                </table>
                <div style="margin-left: 1%;margin-top: .5%;">
                    This receipt is valid upto 10 days from the generated date.
                </div>
            </div>
        </div>
    </div>
</body>
</html>
</body>
</html>