<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/receiptPDF.css">
</head>
<body>
    <div class="main-body">
        <div class="pdf1">
            <div class="header">
                <label style="font-size: 26px; font-weight: bold; text-align: center !important">Om Fracture and Trauma Hospital</label>
                <label>Teen Gulli, Station Road Damoh, Mob : 8103242475</label>
            </div>
            <div class="patient-info">
                <div style="width: 32%;" class="patient-data">
                    <label class="p-head">Name</label>
                    <label class="p-value"><%=patient.Name%></label>
                </div>
                <div style="width: 7%;" class="patient-data">
                    <label class="p-head">Age</label>
                    <label class="p-value"><%=patient.Age%></label>
                </div>
                <div style="width: 7%;" class="patient-data">
                    <label class="p-head">Gender</label>
                    <label class="p-value"><%=patient.Gender%></label>
                </div>
                <div style="width: 15%;" class="patient-data">
                    <label class="p-head">Mobile</label>
                    <label class="p-value"><%=patient.Mobile%></label>
                </div>
                <div style="width: 39%;" class="patient-data">
                    <label class="p-head">Address</label>
                    <label class="p-value"><%=patient.Address%></label>
                </div>
            </div>
            <div class="itemsList">
                <table>
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Purchase Date</th>
                            <th>Expiry Date</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Appointment</td>
                            <td>₹ 200</td>
                            <td>1</td>
                            <td><%= String(new Date().getDate()).padStart(2,'0')+'-'+ String((Number(new Date().getMonth()) + 1)).padStart(2,'0') +'-'+new Date().getFullYear() %></td>
                            <td><%= String(new Date().getDate()).padStart(2,'0')+'-'+ String((Number(new Date().getMonth()) + 1)).padStart(2,'0') +'-'+new Date().getFullYear() %></td>
                            <td>₹ 200</td>
                        </tr>                       
                    <!-- Add more rows for additional items if needed -->
                    </tbody>
                    <tfoot>
                        <tr class="subtotal">
                            <td colspan="5">Subtotal</td>
                            <td>₹ 200</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
</body>
</html>